@model SakilaWebCRUD.Models.ViewModels.ActorViewModel

<div class="modal-header">
    <h5 class="modal-title">@((Model.ActorId == 0) ? "Agregar Actor" : "Editar Actor")</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
</div>

<form id="formActor" method="post"
      asp-action="@(Model.ActorId == 0 ? "Create" : "Edit")"
      asp-controller="Actor">
    <div class="modal-body">
        <input type="hidden" asp-for="ActorId" />

        <div class="mb-3">
            <label asp-for="FirstName" class="form-label"></label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="LastName" class="form-label"></label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
